polkit.addRule(function(action, subject) {
    if (action.id == "in.openvpndesk.helper" &&
            subject.active &&
            subject.local) {
        return polkit.Result.YES;
    }
});
